{% extends 'accounts/base.html' %}
{% load static %}

{% block header %}
    <h1>Programming</h1>
{% endblock %}

{% block body %}
            <div class="main-panel">
				<div class="content">
					<div class="container-fluid">
						<!-- h4 class="page-title">MatLab</h4 -->

                            {% comment %} MatLab {% endcomment %}
                                <div class="card">
									<div class="card-header">
										<h4 class="card-title">Programming IDE</h4>
										<p class="card-category">Press the IDE to start coding in an embedded Appstream session</p>
									</div>
									<div class="card-body">
										<div class="row-2.5">
											<div class="col-8">
												<iframe src="https://appstream2.ap-southeast-1.aws.amazon.com/authenticate?parameters=eyJ0eXBlIjoiRU5EX1VTRVIiLCJleHBpcmVzIjoiMTYwMzQ3NTY3NSIsImF3c0FjY291bnRJZCI6IjA4OTQ5NTM3NjA2OCIsInVzZXJJZCI6ImRlbW8tdXJsIiwiY2F0YWxvZ1NvdXJjZSI6InN0YWNrL2RlbW8tc3RhY2siLCJmbGVldFJlZiI6ImZsZWV0L2RlbW8tZmxlZXQiLCJhcHBsaWNhdGlvbklkIjoiIiwidXNlckNvbnRleHQiOiIiLCJtYXhVc2VyRHVyYXRpb25JblNlY3MiOiI1NzYwMCJ9&signature=WCOoNzHHD0hGMMXY819TAyZRDdIqPw5U2n%2Bx6Q5iGQo%3D" width="100%" height="100%"> 
													<img class="appstream" src = "https://dfq1ddyj8pri4.cloudfront.net/img/prog_ide.png" >
												</iframe>
											</div>
	
											<p> <br> </p>
										
											<div class="col-8">
                                            	<button class="btn btn-primary btn-round">Submit</button>
											</div>
                                        </div>
									</div>
								</div>

                    </div>

                </div>
            </div>
        
{% endblock %}